# Data Input and Output

Reading DataFrames from external sources using pd.read functions

In [1]:
import numpy as np
import pandas as pd

## CSV

### CSV Input

In [3]:
dataframe = pd.read_csv('train.csv')

### CSV Output

In [6]:
dataframe.to_csv('train2.csv',index=False)    #If index=FALSE then csv does not store index values

## Excel

Using Pandas, one can read excel files, however it can only import data. It does not fetch formulae or any formatting/images/macros and having such things in excel files can crash the python function to crash and not execute successfully.

### Excel Input

In [10]:
pd.read_excel('Consumer.xlsx',sheet_name='Data1')

    Income  HouseholdSize  AmountCharged
0       54              3           4016
1       30              2           3159
2       32              4           5100
3       50              5           4742
4       31              2           1864
5       55              2           4070
6       37              1           2731
7       40              2           3348
8       66              4           4764
9       51              3           4110
10      25              3           4208
11      48              4           4219
12      27              1           2477
13      33              2           2514
14      65              3           4214
15      63              4           4965
16      42              6           4412
17      21              2           2448
18      44              1           2995
19      37              5           4171
20      62              6           5678
21      21              3           3623
22      55              7           5301
23      42              2           3020
24      41              7           4828
25      54              6           5573
26      30              1           2583
27      48              2           3866
28      34              5           3586
29      67              4           5037
30      50              2           3605
31      67              5           5345
32      55              6           5370
33      52              2           3890
34      62              3           4705
35      64              2           4157
36      22              3           3579
37      29              4           3890
38      39              2           2972
39      35              1           3121
40      39              4           4183
41      54              3           3730
42      23              6           4127
43      27              2           2921
44      26              7           4603
45      61              2           4273
46      30              2           3067
47      22              4           3074
48      46              5           4820
49      66              4           5149

### Excel Output

In [12]:
dataframe.to_excel('Consumer2.xlsx',sheet_name='Sheet1')

### The END